<div class="home-page">
  <div data-controller="timer" >
    <div> <h1 class='timer-title' data-timer-target='title'></h1></div>
    <div class="count-down-timer" data-timer-target='countDownTimer'>
    </div>

    <div class="buttons">
      <button data-action='timer#buttonCommand' data-timer-target='buttonLabel'>Start</button>
    </div>

    <div class='activity-message' data-timer-target='messageBox'>
    </div>
  </div>
</div>
